/*mobile first*/

body{
	background-color:#FFFFFF;
}

h1{
	color:grey;
	font-family:'Signpainter';
	font-size:80px;
	font-weight:normal;
	text-align:center;
}

	.flex-container {
	  display: flex;
	  flex-wrap: wrap;
	  -webkit-flex-wrap:wrap;
	}

	.water, .food, .speed, .atmosfeer{
		display: flex;
		justify-content: center;
		height: 300px !important;
		width: 100%  !important;
	}

	canvas#waterBuffer, canvas#foodBuffer, canvas#speedBuffer, canvas#bar-chart-horizontal{
		width: 500px;
		height:auto;
	}

/*tablet scherm*/

@media (min-width: 768px){
	h1{
		color:grey;
		font-family:'Signpainter';
		font-size:100px;
		text-align:center;
		font-weight:normal;
	}

	.water, .food, .speed, .atmosfeer{
		height: 400px !important;
		width: 90% ;
		display: flex;
		justify-content: center;
	}


	canvas#waterBuffer, canvas#foodBuffer, canvas#speedBuffercanvas, canvas#bar-chart-horizontal{
		width: 90%;
		height: auto;
	}
}
/* einde tablet*/

/* pc-scherm*/
@media (min-width: 1024px) {

	h1{
		color:grey;
		font-family:'Signpainter';
		font-size:90px;
		text-align:center;
		font-weight:normal;
	}

	.flex-container {
	  display: flex;
	  flex-wrap: wrap;
	}

	.water, .food, .speed, .atmosfeer{
		display: flex;
		justify-content: center;
		height: 400px !important;
		width: 50%  !important;
	}

	canvas#waterBuffer, canvas#foodBuffer, canvas#speedBuffer, canvas#bar-chart-horizontal{
		width: 90%;
	}

}
/*einde pc scherm*/

